version: '3.1'

services:

  bot:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    environment:
      ME_CONFIG_MONGODB_SERVER: mongodb
    env_file:
      - .env
    depends_on:
      - mongo
    links:
      - mongo

  mongo:
    image: mongo:latest
    container_name: mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGODB_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGODB_PASSWORD}
    volumes:
      - ./database-data:/data/db
    env_file:
      - .env

  mongo-express:
    image: mongo-express:latest
    container_name: mongo-express
    restart: unless-stopped
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: ${MONGODB_USERNAME}
      ME_CONFIG_MONGODB_ADMINPASSWORD: ${MONGODB_PASSWORD}
      ME_CONFIG_MONGODB_SERVER: mongodb
    env_file:
      - .env
    depends_on:
      - mongo


